<section>
<form [formGroup]="registerForm" (ngSubmit)="handleForm()">
  <p *ngIf="errMsg" class="alert alert-danger p-1 w-50 mx-auto mb-0 text-center">
    {{errMsg}}
    </p>
    <div class="singup-form d-flex flex-column align-items-center justify-content-center my-5 p-4 shadow rounded-4 w-50 mx-auto " style="background-color:rgb(122, 178, 178)">
        <h1 class="text-white">Register</h1>
        <div class="mb-1 w-50">
            <label for="user-name" class="form-label"></label>
            <input formControlName="displayName" type="text" class="form-control" id="signup-name" placeholder="Enter Your Name">

            <div *ngIf="registerForm.get('displayName')?.errors&&registerForm.get('displayName')?.touched" class="text-danger">
              <span *ngIf="registerForm.get('displayName')?.getError('required')">Name is requied</span>
              <span *ngIf="registerForm.get('displayName')?.getError('minlength')">Name is Min lenght 3</span>
              <span *ngIf="registerForm.get('displayName')?.getError('maxlength')">Name is Max lenght 10</span>
            </div>
           
          </div>
          <div class="mb-1 w-50">
            <label for="user-email" class="form-label"></label>
            <input formControlName="email" type="email" class="form-control" id="signup-email" placeholder="Enter Your Email">
            <div *ngIf="registerForm.get('email')?.errors&&registerForm.get('email')?.touched" class="text-danger">
              <span *ngIf="registerForm.get('email')?.getError('required')">Email is requied</span>
              <span *ngIf="registerForm.get('email')?.getError('email')">Invalid Formate</span>
            </div>
          </div>
          <div class="mb-1 w-50">
            <label for="user-Phone" class="form-label"></label>
            <input formControlName="phone" type="tel" class="form-control" id="signup-email" placeholder="Enter Your Phone">
            <div *ngIf="registerForm.get('phone')?.errors&&registerForm.get('phone')?.touched" class="text-danger">
              <span *ngIf="registerForm.get('phone')?.getError('required')">phone is requied</span>
              <span *ngIf="registerForm.get('phone')?.getError('pattern')">Invalid Formate</span>
            </div>
          </div>
          <div class="mb-1 w-50">
            <label for="user-password" class="form-label"></label>
            <input formControlName="password" type="password" class="form-control" id="signup-password" placeholder="Enter Password">
            <div *ngIf="registerForm.get('password')?.errors&&registerForm.get('password')?.touched" class="text-danger">
              <span *ngIf="registerForm.get('password')?.getError('required')">confirm password is requied</span>
              <span *ngIf="registerForm.get('password')?.getError('pattern')">Mismatch Formate with password</span>
            </div>
          </div>
          <div class="mb-1 w-50">
            <label for="rePassword" class="form-label"></label>
            <input  formControlName="rePassword" type="password" class="form-control" id="rePassword" placeholder="Confirm Password">
            <div *ngIf="registerForm.get('rePassword')?.errors&&registerForm.get('rePassword')?.touched" class="text-danger">
              <span *ngIf="registerForm.get('rePassword')?.getError('required')">rePassword is requied</span>
              <span *ngIf="registerForm.get('rePassword')?.getError('mismatch')">Invalid Formate</span>
            </div>
          </div>
          <span id="message" class="py-1"></span>
          <button [disabled]="registerForm.invalid" class="btn my-3 text-white border-none" style="background-color: teal;">Signup
          <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
          
          </button>
          <p class="text-white">Have an account?<a routerLink="/login" class="text-decoration-none" style="color: teal;"> Login</a></p>
         </div>


</form>
<!-- <p *ngIf="errMsg" class="alert alert-danger p-1 w-50 mx-auto mb-0">
{{errMsg}}
</p> -->
</section>
